.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.wrapper {
    max-width: 80%;
}

.image {
    max-width: 300px;
}

.button {
    height: 24px;
    background-color: beige;
}