.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 120px;
}

.cell {
    background-color: lightgrey;
    height: 40px;
    width: 40px;
    align-content: center;
    padding: auto;
    text-align: center;
}