/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
.banner {
  position: fixed;
  right: 2rem;
  top: 2rem;
  color: black;
  background-color: white;
  padding: 5px 1rem;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px
}
.item{
  background-color: gray;
  height: 100px;
}
@media (max-width: 1024px) {
  .container {
  grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .container {
  grid-template-columns: repeat(1, 1fr);
  }
}

